# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
.github/FUNDING.yml
.tmp/window_state.config.json
resources/js/neutralino.d.ts
